@import "tailwindcss";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.fullstop {
  color: oklch(49.6% 0.265 301.924)
}